<h1>User#welcome</h1>

<p>
  <%= @greeting %>, 

Hi [Rails],

Thanks for signing up for [newsletter name]!

As promised, here is the link for your free [name of free offering].

[Link/call to action]

If you’d like more helpful tips on [subject], visit our blog and our resource pages: [link] Or, visit [website page] if you were interested in learning more about [product type you offer].

Reply to this email if you have any questions. I’m here to help!

best,
[Ruby]

</p>
