<div class="d-flex align-items-center justify-content-center">
    <h1>Welcome to Another Project</h1>
</div><br>

<div class="d-flex align-items-center justify-content-center">
    <h3>Using Devise</h3>
</div>

<%= render current_user.tweets %>