<div class="row container ">
  <div class="col-md-12 col-md-offset-6 ">
    <h1 class="form-group px-4">Editing tweet</h1>

    <%= render "form", tweet: @tweet %>

    <div class="px-4">
      <%= link_to "Show this tweet", users_tweet_path%> |
      <%= link_to "Back to tweets", users_tweets_path %>
    </div>
  </div>
</div>
